@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    /*--hue: 150;
    --sat: 50%;
    --lig: 60%;*/

    --title-color: hsla(360, 0%, 97%, 1);
    --text-color: hsla(206, 0%, 85%, 1);
    --body-font: 'Poppins', sans-serif;
	--index: calc(1vw + 1vh);
}

/*====== BASE ======*/
body {
	background-color: #111;
	color: #fff;
	font-size: calc(var(--index) * .8);
	font-family: var(--body-font);
	line-height: 1.75;
	
	font-weight: 300;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: 300;
  }

  p {
      color: var(--text-color);
      font-weight: 500;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

/*====== REUSABLE CSS ======*/
  .container {
    width: 100%;
    max-width: 968px;
    margin: 0 auto;
    padding: 0 15px;
  }  

  .grid {
    display: grid;
    gap: 1.5rem;
  }

  /*====== MAIN PAGE ======*/

  .main__page {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

  .logo {
      padding-top: 3.5rem;
      font-size: calc(var(--index) * 3);
      margin-bottom: 3rem;
  }

  .main__page-text h2 {
    font-size: calc(var(--index) * 1);
    margin-bottom: 1.3rem;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
  }

  .main__page-text p {
    color: var(--text-color);
    font-size: calc(var(--index) * .8);
    text-align: center;
  }

  .logo__span {
      color: #fff;
  }

  .main__page-buttons {
    margin-top: 4rem;
  }

  .main__page-button {
    color: var(--text-color);
    margin-left: 3rem;
    position: relative;
    padding: 20px 50px;
  }

  .main__page-button::after,
  .main__page-button::before {
      border: 2px solid #fff;
      content: "";
      position: absolute;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      left: 0;
      bottom: 0;
      z-index: -1;
      transition: transform .3s ease;
  }

  .main__page-button:hover::after {
    transform: translate(-5px, -5px);
  }

  .main__page-button:hover::before {
    transform: translate(5px, 5px);
  }

  .main__page-button:first-child {
      margin-left: 0;
  }

  @media screen and (max-width: 480px) {
    .main__page-buttons {
      display: flex;
      flex-direction: column;
    }

    .main__page-button:first-child {
      margin-bottom: 1rem;
    } 

    .main__page-button {
        margin-left: 0;
        padding: 15px 20px;
        text-align: center;
        font-size: calc(var(--index) * .9);
    }
  }